.media .media-body {
  padding: 20px 0 30px;
}
.media .media-heading a {
  color: #0088cc;
  font-weight: normal;
  line-height: 26px;
}
.media .media-image {
  width: 100%;
  height: 130px;
  display: none;
}
.media .media-time {
  color: #0088cc;
  margin-top: 30px;
  display: none;
}
.media .media-abstract {
  display: none;
}
.media .media-more .link-more {
  background: url(../images/icon_detail.jpg) no-repeat;
  width: 125px;
  height: 19px;
  display: inline-block;
}
.media .gradient_border {
  padding: 1px 0 0;
}
.media-object .media {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: #fff;
  margin-top: 20px !important;
}
.media-object .media .media-body {
  padding: 30px;
}
.media-object .media .media-image {
  display: block;
}
.media-object .media .media-time {
  display: block;
}
.media-object .media .media-abstract {
  display: none;
}
.media-object .media .media-more {
  margin-top: 30px;
}
