/* 轮播广告 */
.ui_slide {
  min-width: 980px;
  width: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
  height: 450px;
}
.slide_banner {
  width: 100%;
  height: auto;
  min-height: 514px;
  _height: 514px;
  overflow: hidden;
  position: static;
  margin-left: 0;
  text-align: center;
  float: none;
}
.slide_banner {
  background-color: ;
}
.slide_banner a {
  width: 1440px;
  height: 450px;
  position: absolute;
  left: 50%;
  margin-left: -720px;
  display: inline-block;
}
.slide_banner img {
  display: inline-block;
  width: auto;
}
.loading_image {
  margin: 0 auto;
}
.slide_banner ul {
  margin: 20px auto 5px;
  left: 50%;
  margin-left: -38px;
}
.slide_banner ul li {
  display: inline;
}
.ui_slide li {
  border-radius: 20px;
  float: left;
  background: #dcdddd;
  color: #fff;
  margin: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  text-align: center;
  font-family: arial;
  /*opacity: 0.8; filter: alpha(opacity=80);*/
  text-indent: -9999px;
}
.ui_slide li.active {
  background: #036eb8;
  color: #000;
}
