.adCarousel_Base_Index_index {
  height: 554px;
}
.adCarousel_Base_Index_index img {
  width: 100%;
}
.media {
  padding-bottom: 5px !important;
  margin-top: 5px;
}
.media .media-heading {
  float: left;
  font-size: 14px;
  font-weight: normal;
}
.media .date {
  float: right;
}
